@import url('global.css');

.bloco_superior h1 {
    display: flex;
    flex-direction: column;     /* itens empilhados verticalmente */
    justify-content: center;    /* centraliza verticalmente */
    align-items: center;        /* centraliza horizontalmente */
    text-align: center;         /* centraliza o texto */
    color: var(--amarelo);
    background-color: var(--rosa);
    margin-top: 5vw;
    margin-left: 40vw;
    margin-right: 40vw;
    font-size: 0.8rem;
}

.bloco_config {
    display: flex;
    flex-direction: column;     /* itens empilhados verticalmente */
    justify-content: center;    /* centraliza verticalmente */
    align-items: center;        /* centraliza horizontalmente */
    text-align: center;         /* centraliza o texto */
    background-color: #401234;
    margin-left: 35vw;
    margin-right: 35vw;
}

.bloco_config label {
    color: white;
    margin-top: 2vw;
}

.bloco_config #opcoes {
    margin-bottom: 6vw;
}

#opcoes {
    background-color: var(--laranja-escuro);
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 50px;
    padding-right: 50px;
}

button {
    color: white;
    background-color: green;
}