:root {
    --amarelo: #F2EFBD;
    --roxo: #401234;
    --rosa: #BE399B;
    --laranja-claro: #F2C46D;
    --laranja-escuro: #F09D6C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 600;
}

body{
    overflow: hidden;
    background-color: var(--amarelo);
}

.amarelo {
    background-color: var(--amarelo);
    color: var(--roxo);
}

.roxo {
    background-color: #401234;
    color: var(--amarelo);
}

.rosa {
    background-color: #BE399B;
    color: var(--amarelo);
}

.laranja-claro {
    background-color: #F2C46D;
    color: var(--roxo);
}

.laranja-escuro {
    background-color: var(--laranja-escuro);
    color: var(--roxo);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Press Start 2P', cursive;
}

.borda-pixel {
    border: 50px solid transparent;
    border-image: url('../imagens/borda-pixel.png') 50 fill;
}

/* Animação das nuvens */

@keyframes moverNuvem1 {
  0%   { transform: translateX(-10vw); }
  100% { transform: translateX(110vw); }
}

@keyframes moverNuvem2 {
  0%   { transform: translateX(-70vw); }
  100% { transform: translateX(120vw); }
}

@keyframes moverNuvem3 {
  0%   { transform: translateX(-30vw); }
  100% { transform: translateX(100vw); }
}

.nuvem {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.nuvem1 {
  position: absolute;
  top: 20vh;
  left: 0;
  width: 250px;
  pointer-events: none; /* evita as nuvens atrapalhar o clique */
  opacity: 0.5;         
  z-index: -1;
  animation: moverNuvem1 40s linear infinite;
}

.nuvem2 {
  position: absolute;
  top: 50vh;
  left: 0;
  width: 500px;
  animation: moverNuvem2 60s linear infinite;
  opacity: 0.5;
  z-index: -1;
}

.nuvem3 {
  position: absolute;
  top: 80vh;
  left: 0;
  width: 300px;
  animation: moverNuvem3 50s linear infinite;
  opacity: 0.5;
  z-index: -1;
}
/* fim do css Animação das nuvens */


