@font-face { 
  font-family: 'Press Start'; 
  src: url(../Fontes/prstartk.ttf);
} 

@font-face { 
  font-family: 'Pixelify Sans'; 
  src: url(../Fontes/PixelifySans-VariableFont_wght.ttf);
} 

:root {
    --amarelo: #F2EFBD;
    --roxo: #401234;
    --rosa: #BE399B;
    --laranja-claro: #F2C46D;
    --laranja-escuro: #F09D6C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--roxo);
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    /* Degrade */
    background: linear-gradient(to bottom, var(--amarelo), var(--laranja-escuro));
    margin: 0;
    font-family: sans-serif;
}


.amarelo {
    background-color: var(--amarelo);
    color: var(--roxo);
}

.roxo {
    background-color: #401234;
    color: var(--amarelo);
}

.rosa {
    background-color: #BE399B;
    color: var(--amarelo);
}

.laranja-claro {
    background-color: #F2C46D;
    color: var(--roxo);
}

.laranja-escuro {
    background-color: var(--laranja-escuro);
    color: var(--amarelo);
}

h1, h2{
    font-family: 'Press Start', cursive;
}

h3, h4, h5, h6 {
    font-family: 'Pixelify Sans', sans-serif;
}

.borda-pixel {
    border: 50px solid transparent;
    border-image: url('../imagens/borda-pixel.png') 50 fill;
}

/* Animação das nuvens */

@keyframes moverNuvem1 {
  0%   { transform: translateX(-20vw); }
  100% { transform: translateX(110vw); }
}

@keyframes moverNuvem2 {
  0%   { transform: translateX(-70vw); }
  100% { transform: translateX(120vw); }
}

@keyframes moverNuvem3 {
  0%   { transform: translateX(-30vw); }
  100% { transform: translateX(100vw); }
}

.nuvem {
    display: flex;
}

.nuvem1 {
  position: absolute;
  top: 20vh;
  left: 0;
  width: 250px;
  pointer-events: none; /* evita as nuvens atrapalhar o clique */
  opacity: 0.5;         
  z-index: -1;
  animation: moverNuvem1 40s linear infinite;
}

.nuvem2 {
  position: absolute;
  top: 50vh;
  left: 0;
  width: 500px;
  animation: moverNuvem2 60s linear infinite;
  opacity: 0.5;
  z-index: -1;
}

.nuvem3 {
  position: absolute;
  top: 80vh;
  left: 0;
  width: 300px;
  animation: moverNuvem3 50s linear infinite;
  opacity: 0.5;
  z-index: -1;
}
/* fim do css Animação das nuvens */



/* Menus de usuario e Ranking */

.subMenu {
    position: absolute;
    background-color: white;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 6px #555;
    width: 15vw;
    padding: 5px;
    display: none; /* escondido inicialmente */
    text-align: center;
}

#subMenu_Usuario {
    top: 80px;
    left: 20px;
}

#subMenu_Ranking {
    top: 80px;
    right: 15px;
}

.subMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.subMenu li {
  font-size: 1.1rem;
    margin-bottom: 5px;
}

.subMenu li:hover {
    background-color: var(--laranja-claro);
}

.subMenu li a {
    text-decoration: none;
    color: var(--roxo);
}

#Menu_usuario {
    margin-left: 5%;
}

#Menu_ranking {
    margin-right: 5%;
}

#Menu_usuario:hover, #Menu_ranking:hover {
    cursor: pointer;
}







