.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.header {
  margin-top: 3%;
  color: #8e2e1f;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.header img {
  height: clamp(70px, 16vh, 140px);
  width: auto;
}

.header h1 {
  margin-left: 4%;
}

.historico {
  background-color: beige;
  height: clamp(45px, 10vh, 60px);
  width: 20vw;
  margin: 0 auto;                
  box-shadow:
    0 0.625rem 0 -0.3125rem beige,
    0.625rem 0 0 -0.3125rem  beige,
    -0.625rem 0 0 -0.3125rem  beige,
    0 -0.625rem 0 -0.3125rem  beige;
  font-size: clamp(.5rem, 3vw, 4rem);
  position: absolute;
  top: clamp(100px, 19vh, 180px); 
  left: 40vw;
}

.background {
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 60vh;
  width: clamp(35rem, 60vw, 60rem);
  box-shadow:
    0 1rem 0 -0.625rem #401234,
    1rem 0 0 -0.625rem #401234,
    -1rem 0 0 -0.625rem #401234,
    0 -1rem 0 -0.625rem #401234, 
    0 1rem 0 -0.3125rem #000000,
    1rem 0 0 -0.3125rem #000000,
    -1rem 0 0 -0.3125rem #000000,
    0 -1rem 0 -0.3125rem #000000,  
    0 0px 0 0.3125rem #000000; 

}

.username {
  margin: 2% 0 0 5%;
  font-size: 1.5rem;
}

.tabela {
  display: grid;
  position: relative; 
  gap: 1.5vh;
  width: 90%;
  margin: 3% auto 5% auto;
  font-size: 1.1rem;
  overflow-y: auto; 
  scrollbar-width: none; /* oculta barra de rolagem Firefox */
  -ms-overflow-style: none; /* oculta rolagem IE */
}

 /* oculta rolagem outros navs */
.tabela::-webkit-scrollbar {
  display: none;
}

.linha {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  background: #a05a4a;
  color: var(--amarelo);
  padding: 15px;
  border-radius: 4px;
}

.cabecalho {
  background: var(--roxo); 
  position: sticky;
  border-radius: 0;
  padding-top: 0;
  top: 0; 
}

.voltar {
  height: 2.5rem;
  width: 7rem;
  float: right;
  margin: -1.5% 25% 0 0;
  border-radius: 5%;
  text-decoration: none;
  font-size: 25px;
}

.voltar:hover {
  background-color: var(--amarelo);
  color: var(--rosa);
}

@media (max-width: 1000px) {
  .historico {
    top: clamp(80px, 20vh, 85px);  
  }
}

@media (min-height: 600px) and (max-width: 1000px) {
  .historico {
    top: clamp(100px, 15vh, 300px);  
  }
}

.vitoria {
  background-color: #20611d;
}

.derrota {
  background-color: #97141d;
}

.detalhes-partida {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 30%;
  bottom: 30%;
  left: 40%;
  font-size: 0.9rem;
  padding: 10px; 
  color: beige;
  text-align: center;
  background-color: var(--rosa);
  box-shadow:
    0 1rem 0 -0.625rem var(--rosa),
    1rem 0 0 -0.625rem var(--rosa),
    -1rem 0 0 -0.625rem var(--rosa),
    0 -1rem 0 -0.625rem var(--rosa),
    0 1rem 0 -0.3125rem beige,
    1rem 0 0 -0.3125rem beige,
    -1rem 0 0 -0.3125rem beige,
    0 -1rem 0 -0.3125rem beige,  
    0 0px 0 0.3125rem beige,
    0 0 20px 0 rgba(0, 0, 0, 0.5);
}

detalhes-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vitoria:hover{
  background-color: rgb(60, 188, 60);
  cursor: pointer;
}

.derrota:hover{
  background-color: rgb(255, 60, 60);
  cursor: pointer;
}
