#titulo {
  text-align: center;
  margin: 4% auto -5% auto;
  font-size: clamp(1.5rem, 4.5vw, 4.5rem);
  color: #8e2e1f;
}

.historico {
  background-color: beige;
  height: 10vh;
  width: 20%;
  margin: 4% auto 0 auto;                
  border: solid 1px black;
  border-radius: 15px;
  font-size: clamp(.5rem, 3vw, 4rem);
  position: relative;
  top: 5vh;                      
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;                    
}

.background {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 60vh;
  width: clamp(35rem, 60vw, 60rem);
  border-radius: 3%;
}

#username {
    margin: 2% 0 0 5%;
    font-size: 1.5rem;
}

.tabela {
  display: grid;
  gap: 1.5vh;
  width: 90%;
  margin: 5% auto;
  font-size: 1.1rem;
  overflow-y: auto; 
  scrollbar-width: none; /* oculta barra de rolagem Firefox */
  -ms-overflow-style: none; /* oculta rolagem Internet Explorer */
}

/* oculta rolagem Chrome, Edge, Safari */
.tabela::-webkit-scrollbar {
  display: none;
}

.linha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  background: #a05a4a;
  color: var(--amarelo);
  padding: 15px;
  border-radius: 4px;
}

.cabecalho {
  background: var(--roxo); 
  text-align: center;

  /* fixa no topo da div .tabela */
  position: sticky;
  top: 0; 
}

.linha div {
  text-align: center;
}

#voltar{
    height: 5vh;
    width: 10vw;
    float: right;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: -1.5% 25% 0 0;
    border-radius: 5%;
    text-decoration: none;
    font-size: 25px;
}