@keyframes glow { 
  from { text-shadow: 0 0 5px #f29e6d; } 
  to { text-shadow: 0 0 10px #f29e6d; } 
}


h1 {
    font-size: 40px; 
    color: #f29e6d; 
    animation: glow 1s infinite alternate;
    padding-top: 15px;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header p{
    padding: 10px;
    font-size: 1.25rem;
}

#img1 {
    width: 50px;
    margin: 9px;
    filter: invert(100%); 
    opacity: 0.6;
    image-rendering: pixelated;
}

#img2 {
    width: 40px;
    margin: 10px;
    filter: invert(100%);
    opacity: 0.3; 
    image-rendering: pixelated;
}

.jogo-tela {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-wrap: wrap;
    height: 100%;    
    justify-content: flex-start;
    align-items: center; 
}

.campo {
    display: grid;
    padding: 10px;   /* 🔹 adiciona espaço interno */
    width: clamp(300px, 32vw, 1200px);
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #401234;  
    box-shadow:
    0 1rem 0 -0.625rem #401234,
    1rem 0 0 -0.625rem #401234,
    -1rem 0 0 -0.625rem #401234,
    0 -1rem 0 -0.625rem #401234, 
    0 1rem 0 -0.3125rem #000000,
    1rem 0 0 -0.3125rem #000000,
    -1rem 0 0 -0.3125rem #000000,
    0 -1rem 0 -0.3125rem #000000,  
    0 0px 0 0.3125rem #000000; 
    z-index: 2;

}

.pecas {
    background-color: #f29e6d;
    aspect-ratio: 1 / 1;   /* garante que será quadrada */
    width: 100%;           /* ocupa toda a célula do grid */
    display: flex;         /* para centralizar a imagem */
    justify-content: center;
    align-items: center;
    box-shadow:
    0 0.625rem 0 -0.3125rem #cf875d,
    0.625rem 0 0 -0.3125rem  #cf875d,
    -0.625rem 0 0 -0.3125rem  #cf875d,
    0 -0.625rem 0 -0.3125rem  #cf875d;
}

.pecas:hover {
    cursor: pointer;
    background-color: #ffb489;
}

.desistir {
    position: absolute;
    background-color: #97141d;
    text-align: center;
    padding: 5px;
    border: 10px solid #401234;
    width: clamp(100px, 6.5vw, 300px);
    left: 0%;
    bottom: 0%;
    transform: translate(-140%);
    box-shadow:
    0 0.5rem 0 -0.3125rem #401234,
    0.5rem 0 0 -0.3125rem  #401234,
    -0.5rem 0 0 -0.3125rem  #401234,
    0 -0.5rem 0 -0.3125rem  #401234;
}

.desistir a {
    text-decoration: none;
    color: #F2EFBD;
}

.topo {
    display: flex;
    width: clamp(260px, 27vw, 900px);
    height: 7vh;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.movimentos {
    color:#401234;
    margin: 5px;
}

.tempo {
    color:#F2EFBD;
    background-color: #BE399B;
    padding: 8px;
    margin: 5px;
    z-index: 1;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.trapaca {
    position: fixed;
    color: #401234;
    bottom: 2%;
    right: 2%;
}

.pecas img {
    width: 90%;
    height: 90%;
    opacity: 0;
}

.mesma-peca {
    pointer-events: none; /* desativa clique na peça */
    cursor: default;
    opacity: 0.8;
}