@keyframes glow { 
  from { text-shadow: 0 0 5px #f29e6d; } 
  to { text-shadow: 0 0 10px #f29e6d; } 
}


h1 {
    font-size: 40px; 
    color: #f29e6d; 
    animation: glow 1s infinite alternate;
    padding: 25px;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

header p{
    position: absolute;
    left: 47%;
    bottom:7px;
    opacity: 0.6;
    letter-spacing: 5px;
}

#img1 {
    width: 50px;
    margin: 9px;
    filter: invert(100%); 
    opacity: 0.6;
    image-rendering: pixelated;
}

#img2 {
    width: 40px;
    margin: 10px;
    filter: invert(100%);
    opacity: 0.3; 
    image-rendering: pixelated;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jogo-tela {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    flex-wrap: wrap;
    width: 410px;
    height: 100%;    
    justify-content: flex-start;
    align-items: center; 
}

.campo {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    width: 410px;
    height: 410px;    
    justify-content: center;
    align-items: center;
    background-color: #401234;  
    box-shadow:
    0 1rem 0 -0.625rem #401234,
    1rem 0 0 -0.625rem #401234,
    -1rem 0 0 -0.625rem #401234,
    0 -1rem 0 -0.625rem #401234, 
    0 1rem 0 -0.3125rem #000000,
    1rem 0 0 -0.3125rem #000000,
    -1rem 0 0 -0.3125rem #000000,
    0 -1rem 0 -0.3125rem #000000,  
    0 0px 0 0.3125rem #000000; 
    z-index: 2;

}

.pecas {
    background-color: #f29e6d;
    width: 17.07%;
    height: 17.07%;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    box-shadow:
    0 0.625rem 0 -0.3125rem #cf875d,
    0.625rem 0 0 -0.3125rem  #cf875d,
    -0.625rem 0 0 -0.3125rem  #cf875d,
    0 -0.625rem 0 -0.3125rem  #cf875d;
}

.desistir {
    position: absolute;
    background-color: #97141d;
    padding: 5px;
    border: 10px solid #401234;
    bottom: 27.5%;
    left: -30%;
    box-shadow:
    0 0.5rem 0 -0.3125rem #401234,
    0.5rem 0 0 -0.3125rem  #401234,
    -0.5rem 0 0 -0.3125rem  #401234,
    0 -0.5rem 0 -0.3125rem  #401234;
}

.desistir a {
    text-decoration: none;
    color: #F2EFBD;
}

.topo {
    display: flex;
    margin-top: 9vh;
    width: 410px;
    height: 45px;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.movimentos {
    color:#401234;
    margin: 5px;
}

.tempo {
    color:#F2EFBD;
    background-color: #BE399B;
    padding: 8px;
    margin: 5px;
    z-index: 1;
}

.trapaca {
    position: absolute;
    color: #401234;
    bottom: 95px;
    right: 15px;
}