@keyframes glow { 
  from { text-shadow: 0 0 5px #f29e6d; } 
  to { text-shadow: 0 0 10px #f29e6d; } 
}

h1 {
    font-size: 40px; 
    color: #f29e6d; 
    animation: glow 1s infinite alternate;
    padding: 25px;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

header p {
    position: absolute;
    left: 45%;
    bottom:7px;
    opacity: 0.6;
    letter-spacing: 5px;
}

#img1 {
    width: 50px;
    margin: 9px;
    filter: invert(100%); 
    opacity: 0.6;
    image-rendering: pixelated;
}

#img2 {
    width: 40px;
    margin: 10px;
    filter: invert(100%);
    opacity: 0.3; 
    image-rendering: pixelated;
}

.background{
    margin: 5% auto 0 auto;
    display: flex;
    height: 70vh;
    width: 80vw;
    box-shadow:
    0 1rem 0 -0.625rem #401234,
    1rem 0 0 -0.625rem #401234,
    -1rem 0 0 -0.625rem #401234,
    0 -1rem 0 -0.625rem #401234, 
    0 1rem 0 -0.3125rem #000000,
    1rem 0 0 -0.3125rem #000000,
    -1rem 0 0 -0.3125rem #000000,
    0 -1rem 0 -0.3125rem #000000,  
    0 0px 0 0.3125rem #000000; 
}

.tabela {
    display: grid;
    gap: 1.5vh;
    width: 90%;
    margin: 5% auto;
    font-size: 1.0rem;
    overflow-y: auto; 
    scrollbar-width: none; /* oculta barra de rolagem Firefox */
    -ms-overflow-style: none; /* oculta rolagem IE*/
}

/* oculta rolagem Chrome, Edge, Safari */
.tabela::-webkit-scrollbar {
  display: none;
}

.linha {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1.5fr 1fr 1fr 1fr; 
  color: var(--amarelo);
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

.linha div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha div img {
    width: auto;
    height: 48px;
    vertical-align: middle;
}

.cabecalho {
  background: var(--roxo); 
  text-align: center;
  font-size: 1.2rem;
  padding: 0;
  border-radius: 0;

  /* fixa no topo da div .tabela */
  position: sticky;
  top: 0; 
}

.primeiro-lugar {
    background-color: var(--laranja-claro);
    font-size: 1.2rem;    
}

.segundo-lugar {
    background-color: gray;
    font-size: 1.2rem;
}

.terceiro-lugar {
    background-color: #a05a4a;
    font-size: 1.2rem;
}

#voltar{
    height: 5vh;
    width: 10vw;
    float: right;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: -2% 15% 0 0;
    border-radius: 5%;
    text-decoration: none;
    font-size: 25px;
}

